<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>详情页</title>
	
</head>
<body>
	
	
</body>
</html> -->
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>详情</title>
<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/zoomio.css">

</head>
<body>
<!-- 头部 -->
	<iframe src="" frameborder="0" id="tou"></iframe>
<!-- 头完 -->
<!-- 详情页 -->
<div id="navigation">
		<span><a href="#">首页</a>&nbsp;></span>
		<span><a href="#">大朴优选</a>&nbsp;></span>
		<span><a href="#">兴农鲜果</a>&nbsp;></span>
		<span><a href="#">冬枣</a>&nbsp;></span>
		<span><a href="#">大荔冬枣</a></span>
</div>
<div id="details">
	<form action="#" method="post">
		<div id="details1">
			<div class="tu">
				<div class="zzsc-container">
					<div id="gallerycontainer">
						<div><img id="gallery-target" src="/static/img/zao1.jpg" /></div>
						<div class="zf jiao"><img src="/static/img/ljiao.gif"></div>
						<div id="gallery-thumbs" class="zf"> 
							<a href="#" class="zao" name="">
								<img  src="/static/img/zao1.jpg" onClick="updatezoomioimage('gallery-target', '/static/img/zao.jpg')">
							</a>
							<a href="#" class="zao" name="">
								<img  src="/static/img/zao2.jpg" onClick="updatezoomioimage('gallery-target', '/static/img/zao2.jpg')">
							</a>
							<a href="#" class="zao" name="">
								<img  src="/static/img/zao3.jpg" onClick="updatezoomioimage('gallery-target', '/static/img/zao3.jpg')">
							</a>
							<a href="#" class="zao" name="">
								<img  src="/static/img/zao4.jpg" onClick="updatezoomioimage('gallery-target', '/static/img/zao4.jpg')">
							</a>
						</div>
						<div class="yf jiao"><img src="/static/img/rjiao.gif"></div>
						<div class="cf"></div>
					</div>
				</div>
				<div id="shou">
					<a href="" ><img src="/static/img/cang.gif">收藏</a>
					<a href="" ><img src="/static/img/fen.gif">分享</a>
				</div>
			</div>
			<div class="lie">
				<h1 class="zi" style="margin: 0;">大荔冬枣</h1>
				<div class="bian">
					<span>商品编码:</span>
					<span>1012000341</span>
				</div>
				<div class="jiaqian">
					￥25
				</div>
				<div>
					<span class="huij">会员价</span>
					<span class="huiq">￥24</span>
					<span class="chui">如何成为会员?</span>
				</div>
				<div>
					<span class="huij cu">促销</span>	
				</div>
				<div class="cux">
					<ul>
						<li>
							<p class="z">25</p>
							<p>销量</p>
							<i></i>
						</li>
						<li>
							<p class="z">3</p>
							<p>评论</p>
							<i></i>
						</li>
						<li>
							<p class="z">50</p>
							<p>评论送积分</p>
						</li>
					</ul>
				</div>
				<div class="jianjie">
					身披三分红   落地摔八瓣<br />
					冬枣营养丰富，
					被誉为“百果王”、“活维生素丸”。<br />

					另外富含多种微量元素和矿物质，
					有预防疾病、强身健体之功效
				</div>
				<div class="guige">
					<span class="guige1">重量：</span>
					<span class="zhong">0.5kg</span>
					<span class="zhong">1.5kg</span>
				</div>
				<div class="jis">
					<span class="guige1">数量：</span>
					<span class="zhong1">-</span>
					<span class="inp"><input type="" name="" value="1" id="qwe"></span>
					<span class="zhong2">+</span>
				</div>
				<div class="gouwu">
					<div class="gouwu1 zf">加入购物车</div>
					<div class="yf gouwu2">
					“扫一扫” 手机购买 <img src="/static/img/erwei1.gif">
					<div  class="daer">
						<img src="/static/img/derwei.gif">
					</div>
					</div>
					
					<div class="cf"></div>
				</div>
			</div>
		</div>
	</form>
	
</div>
<div id="fenlei">
		<div class="zf zuo">
			<div class="zuo1">
				<div class="zuo11">相关分类</div>
				<ul>
					<li><a href="">新农水果</a></li>
					<li><a href="">烹饪食材</a></li>
					<li><a href="">特色美食</a></li>
					<li><a href="">茶艺生活</a></li>
					<li><a href="">家具常备</a></li>
				</ul>
			</div>
			<div class="zuo2">
				<div class="zuo11">您可能喜欢</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/xiyi.jpg"></p>
					<p class="jingh"><a href="">空气净化机（ap450a+ap280)</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/a.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/b.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/c.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/d.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
			</div>
			<div class="zuo2">
				<div class="zuo11">热销商品</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/e.jpg"></p>
					<p class="jingh"><a href="">空气净化机（ap450a+ap280)</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/f.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/g.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/h.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
				<div class="zuo3">
					<p class="xiyi"><img src="/static/img/i.jpg"></p>
					<p class="jingh"><a href="">空气净化机</a></p>
					<p class="jinghs">￥ 2899</p>
				</div>
			</div>
		</div>
		<div class="zf you">
			<div class="biaot">
				<a href="#shang" id="shang">商品详情</a>
				<a href="#a" id="a">售后服务</a>
				<a href="#b" id="b">评价(<span>3</span>)</a>
			</div>
			<div class="biaot1">
				<p class="kk"></p>
				<p><img src="/static/img/da.jpg"> </p>
				<p style="font-size: 27px;color: #6B6B6B;font-weight: bold;">一斤装</p>
				<p class="kk"></p>
				<p><img src="/static/img/qwe.jpg"> </p>
				<p style="font-size: 27px;color: #6B6B6B;font-weight: bold;">二斤装</p>
			</div>
			<div class="biaot2">
				<p class="kk1">大朴产品退换货说明（大朴优选、止鼾枕除外，止鼾枕请依据下方止鼾枕退换货说明）</p>
				<p class="kk1">
					支持退货条件：
				</p>
				<p class="k2 kk1">
					1. 商品商标吊牌、防伪标签、收货单、发票及各种包装完整<br>
					2. 产品没有污迹和破损且未经使用过，不影响二次销售（贴身内衣除外）<br />
					3. 签收产品后30天之内<br />
				</p>
				<!-- 
					支持退货条件：
					1. 商品商标吊牌、防伪标签、收货单、发票及各种包装完整
					2. 产品没有污迹和破损且未经使用过，不影响二次销售（贴身内衣除外）
					3. 签收产品后30天之内
					 
					不支持退货条件
					1. 考虑到贴身衣物，关系到每个人的身体健康，内衣类产品一经售出除质量问题外不得退换；
					2. 无质量问题且外包装已拆无法复原，影响二次销售；人为刻意损坏;
					3. 已经使用的商品，不予退换;
					4. 商标吊牌、防伪标签、收货单、发票及各种包装丢失或缺损将无法为您办理退换货； -->
			</div>
			<div class="biaot3">
				<p class="kk1">用户评价：</p>
				<p class="kk1">
					支持退货条件：
				</p>
				<p class="k2 kk1">
					1. 商品商标吊牌、防伪标签、收货单、发票及各种包装完整<br>
					2. 产品没有污迹和破损且未经使用过，不影响二次销售（贴身内衣除外）<br />
					3. 签收产品后30天之内<br />
				</p>
			</div>
		</div>
		<div class="cf"></div>
</div>
<!-- 详情页完 -->

<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<!--<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>-->
<script type="text/javascript" src="/static/js/zoomio.js"></script>
<script type="text/javascript">
	function updatezoomioimage(targetid, src){
		var $ = jQuery
		$('#'+targetid).attr('src', src)
		$('#'+targetid).zoomio()
	}
</script>
</body>
</html>