<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

        <link rel="stylesheet" type="text/css" href="../static/css/footer.css">

</head>
<body>
	<div id="if_footer" style="font-size:12px; width:1200px; margin:0 auto; text-align:center;	padding-bottom: 20px;">
		<p>
			<a href="###" >关于大朴</a><span >|</span>
			<a href="###" >帮助中心</a><span >|</span>
			<a href="###" >联系我们</a><span >|</span>
			<a href="###" >手机大朴</a><span >|</span>
			<a href="###" >友情链接</a><span >|</span>
			<a href="###" >网站地图</a>
		</p>
		<p>Copyright &copy; 2013-2018 dapu.com 北京大朴至向家居设计有限公司  京ICP备12027522号 京ICP证130030号</p>
		<p><img src="http://activity.dapuimg.com/dapu_icon-police.png" alt="police_ico" /><a href="###">京公网安备 11010502030202号</a></p>
	</div>
</body>
</html>