<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

	<link rel="stylesheet" type="text/css" href="../static/css/header.css">

</head>
<body>
	<header>
		<div id="header_bar">
			<div id="logo">
				<a href="###"> <img src="http://activity.dapuimg.com/dapu_homelogo.png" alt="logo" title="大朴网"></a>
			</div>
			<div id="right_bar">
				<form action="###" method="get">
					<input type="text" placeholder='想要买什么？' id='search_key'>
					
					<input type="submit" class='search_btn'>
				</form>
				<div id="car_bar">
					<span>
						0
					</span>
					<div id="car_msg">
						<div id="msg">
							暂时没有商品
						</div>
					</div>
				</div>
				<div id="user">
						<a href="###">登录</a>
						<span>|</span>
						<a href="###">注册</a>
				</div>
			</div>
		</div>
	</header>
</body>
</html>